{:company/legal-name "Borussia Dortmund GmbH & Co. Kommanditgesellschaft auf Aktien"
 :company/lei "529900XO0YTOOKCLQB44"
 :company/jurisdiction "DE"
 :company/website "https://www.bvb.de"
 :company/ticker "BVB (FRA)"}
