[["bvb-tos-1" :tos/full-text "Terms of Use

LANGUAGE

Deutsch

English

Maybe you will find something here:

News

Teams

First Team

Membership

Tickets

Fanshop

BVB-TV

Contact

BVB-Account

Sign up now or register to secure all BVB benefits:
Your central hub for BVB’s digital services. Stay in control: Easily manage your data. Get exclusive perks: Free access to promotions and birthday discounts.

LOGIN

REGISTER

MY PROFILE

BVB Services
Settings
Personal Data
FAQ

LOGOUT

Are you sure you want to log out of your BVB account?

CANCEL

LOGOUT

Tickets

Fanshop

BVB-TV

Membership

Service

News

News Overview

BVB-TV

Borussia Dortmund Podcasts

Borussia Dortmund Podcast

Youth Podcast

Fan Podcast

Netradio

Audio Commentary

Teams

Football

First team

Women Football

First Team

Second Team

U17

Training & Match Venues

Tickets & Contact

Partner

Walking Football

Coaching Team

Traditional team

Senior Team

Youth

Youth Teams

U23

U19

U17

U16

U15

U14

U13

U12

U11

U10

U9

Successes

Championship and Cup Victories

Leading figures

Concept & Philosophy

Concept

Vision

Mission

Transition-U23

Code of Conduct

Education

Elite school of football

Advanced training

School for parents

Youth Center

Partner

Handball

First women's team

Second team

Youth

A-Team

B-Team

C-Team

D-Team

E-Team

Venues

History

Partner

Table tennis

First Team

Match Venue

Integration Sports

Torball

Blind Football

eFootball

Tournaments

Challenges

Gaming-News

Team

Dennis Malcherczyk

Luca Weber

Francesco Allocca

Lucas Geerken

Erné Embeli

Alexander Steinmetz

VBL

Match schedule

Tickets

Ticket information

Presale

Ticket prices

Ticket news

Secondary market

Second market for buyers

Secondary Market for sellers

Family block

Season tickets for away matches

Away tickets

VIP Tickets

More tickets

BORUSSEUM

Stadium Tours

Borussia Dortmund

History

Historic moments

Champions League 1997

Intercontinental Cup 1997

Decades

1909 - The Founding Years

1919 - The First Home

1929 - The First National Player

1939 - The First Final

1949 - The First Championships

1959 - The First Triumph in Europe

1969 - The Reascent

1979 - The Turning Point

1989 - The Peak

1999 - Crash and Rebirth

2009 - Departure and ambitions

SIGNAL IDUNA PARK

The club

Membership

KidsClub

Youth membership

Standard membership

Family membership

Reduced Adult Membership

Membership as a gift

Lifetime Membership

Members magazine BORUSSIA

Members collection

Committees

Executive committee

Hans-Joachim Watzke

Daniel Lörcher

Silke Seidel

The company

Annual report

Management Board

Carsten Cramer

Thomas Treß

Lars Ricken

Svenja Schlenker

Stock

Career

Responsibility

Environment

Climate change

Water

Circular economy

Social

Human rights in the value chain

Fan community

United by Borussia: Diversity and anti-discrimination

Governance

Impact by fans

Sustainability partners

Standards, certifications and awards

Publications and downloads

Strategy and mission statement

Statement Sustainable Development

EVONIK Football Academy

Course Offerings

eAcademy

Holiday Courses in Dortmund

Holiday Courses in Germany

Holiday Courses in Austria, Cyprus, Switzerland

Development Courses/ Advanced and Performance Courses

Playing Courses

Match Day Courses

Conditions of participation

Partner

Contact & FAQ

International

besttravel

Adrenaline Trips

VIP Adrenaline Trip

Booking

Voucher

Sport & Football Travel

Holiday Trips

Trip Checklist

Business Travel

About us

Contact

Glossary

EMMA

Borsigplatz

Footbonaut

Songbook

You'll never walk alone

Vereinshymne

Leuchte auf, mein Stern Borussia

Borussia

BVB-Walzer

Am Borsigplatz geboren

Es war Liebe auf den ersten Blick

Abstiegskampf oder Pokale...

Und wenn du das Spiel gewinnst...

Europapokal

Vorwärts BVB

Oh BVB 09

Das Leben beginnt...

In der Bundesliga...

Auf geht's Dortmund

Forza BVB

Ballspielverein Borussia aus Dortmund

Wir halten deine Fahne hoch

Fans

Fan Affairs

Fan Representatives

Supporters Liaison Officers

Fan-Projekt

Fanclubs

Founding a Fanclub

Events

Regional meeting

Fan Delegates' Meeting

Find a Fanclub

Youth offerings

KidsClub

Events for fans

Season Opening

Singing Christmas Songs

Brinkhoff's Ballgeflüster

Fan Council

Fan Days

SIGNAL IDUNA PARK

Südtribüne

Stadium visit

Arrival

Payment in the stadium

PANAMA

Accessibility

Tickets for Wheelchair Users

Tickets for Visually Impaired Fans

Tickets for Hearing Impaired Fans

Tickets for Severely Disabled Fans

Stadium Regulations

Brackel

Stadium Rote Erde

FAQ Stadium visit

Area of domestic Authority

Stadium Plan

Volunteers

Stadium Tours

Public Stadium Tours

Guided Stadium Tour

After-Work-Tour with a guide

Morning Pint Tour with a guide

Barrier-free Stadium Tour with a guide

Meet EMMA Tour with a guide

Stadium Walk without a guide

Private Stadium Tours

Stadium Walk

Specials

Events

Custom Event

Conference

Wedding ceremony

Wedding Celebration

FAQ

Facilities

Alter Markt

Foyer West

EVONIK Stammtisch - West 3

EVONIK Stammtisch - West 4

Borsigplatz

Friedensplatz

Borussia Park

TV-Lounge

Matchday Lounge

Hansaplatz

Weiße Wiese 1

Weiße Wiese 2

Weiße Wiese 3

Media Center

Fanwelt

BORUSSEUM

My visit

Partnerships

Exhibitions

Memory Suitcase

Sponsoring & Hospitality

Partners

SPORTFIVE

Hospitality & VIP

Hospitality

Borsigplatz

Friedensplatz

Weiße Wiese

Hansaplatz

Alter Markt

TV-Studio

Spieltagsloge

Borussia Park

Stammtisch

VIP Tickets

VIP day tickets

Hospitality-Services

VIP season tickets

Hospitality App

Business Network

Become a BVB-partner now

News

News Overview

BVB-TV

Borussia Dortmund Podcasts

Borussia Dortmund Podcast

Youth Podcast

Fan Podcast

Netradio

Audio Commentary

Teams

Football

First team

Women Football

First Team

Second Team

U17

Training & Match Venues

Tickets & Contact

Partner

Walking Football

Coaching Team

Traditional team

Senior Team

Youth

Youth Teams

U23

U19

U17

U16

U15

U14

U13

U12

U11

U10

U9

Successes

Championship and Cup Victories

Leading figures

Concept & Philosophy

Concept

Vision

Mission

Transition-U23

Code of Conduct

Education

Elite school of football

Advanced training

School for parents

Youth Center

Partner

Handball

First women's team

Second team

Youth

A-Team

B-Team

C-Team

D-Team

E-Team

Venues

History

Partner

Table tennis

First Team

Match Venue

Integration Sports

Torball

Blind Football

eFootball

Tournaments

Challenges

Gaming-News

Team

Dennis Malcherczyk

Luca Weber

Francesco Allocca

Lucas Geerken

Erné Embeli

Alexander Steinmetz

VBL

Match schedule

Tickets

Ticket information

Presale

Ticket prices

Ticket news

Secondary market

Second market for buyers

Secondary Market for sellers

Family block

Season tickets for away matches

Away tickets

VIP Tickets

More tickets

BORUSSEUM

Stadium Tours

Borussia Dortmund

History

Historic moments

Champions League 1997

Intercontinental Cup 1997

Decades

1909 - The Founding Years

1919 - The First Home

1929 - The First National Player

1939 - The First Final

1949 - The First Championships

1959 - The First Triumph in Europe

1969 - The Reascent

1979 - The Turning Point

1989 - The Peak

1999 - Crash and Rebirth

2009 - Departure and ambitions

SIGNAL IDUNA PARK

The club

Membership

KidsClub

Youth membership

Standard membership

Family membership

Reduced Adult Membership

Membership as a gift

Lifetime Membership

Members magazine BORUSSIA

Members collection

Committees

Executive committee

Hans-Joachim Watzke

Daniel Lörcher

Silke Seidel

The company

Annual report

Management Board

Carsten Cramer

Thomas Treß

Lars Ricken

Svenja Schlenker

Stock

Career

Responsibility

Environment

Climate change

Water

Circular economy

Social

Human rights in the value chain

Fan community

United by Borussia: Diversity and anti-discrimination

Governance

Impact by fans

Sustainability partners

Standards, certifications and awards

Publications and downloads

Strategy and mission statement

Statement Sustainable Development

EVONIK Football Academy

Course Offerings

eAcademy

Holiday Courses in Dortmund

Holiday Courses in Germany

Holiday Courses in Austria, Cyprus, Switzerland

Development Courses/ Advanced and Performance Courses

Playing Courses

Match Day Courses

Conditions of participation

Partner

Contact & FAQ

International

besttravel

Adrenaline Trips

VIP Adrenaline Trip

Booking

Voucher

Sport & Football Travel

Holiday Trips

Trip Checklist

Business Travel

About us

Contact

Glossary

EMMA

Borsigplatz

Footbonaut

Songbook

You'll never walk alone

Vereinshymne

Leuchte auf, mein Stern Borussia

Borussia

BVB-Walzer

Am Borsigplatz geboren

Es war Liebe auf den ersten Blick

Abstiegskampf oder Pokale...

Und wenn du das Spiel gewinnst...

Europapokal

Vorwärts BVB

Oh BVB 09

Das Leben beginnt...

In der Bundesliga...

Auf geht's Dortmund

Forza BVB

Ballspielverein Borussia aus Dortmund

Wir halten deine Fahne hoch

Fans

Fan Affairs

Fan Representatives

Supporters Liaison Officers

Fan-Projekt

Fanclubs

Founding a Fanclub

Events

Regional meeting

Fan Delegates' Meeting

Find a Fanclub

Youth offerings

KidsClub

Events for fans

Season Opening

Singing Christmas Songs

Brinkhoff's Ballgeflüster

Fan Council

Fan Days

SIGNAL IDUNA PARK

Südtribüne

Stadium visit

Arrival

Payment in the stadium

PANAMA

Accessibility

Tickets for Wheelchair Users

Tickets for Visually Impaired Fans

Tickets for Hearing Impaired Fans

Tickets for Severely Disabled Fans

Stadium Regulations

Brackel

Stadium Rote Erde

FAQ Stadium visit

Area of domestic Authority

Stadium Plan

Volunteers

Stadium Tours

Public Stadium Tours

Guided Stadium Tour

After-Work-Tour with a guide

Morning Pint Tour with a guide

Barrier-free Stadium Tour with a guide

Meet EMMA Tour with a guide

Stadium Walk without a guide

Private Stadium Tours

Stadium Walk

Specials

Events

Custom Event

Conference

Wedding ceremony

Wedding Celebration

FAQ

Facilities

Alter Markt

Foyer West

EVONIK Stammtisch - West 3

EVONIK Stammtisch - West 4

Borsigplatz

Friedensplatz

Borussia Park

TV-Lounge

Matchday Lounge

Hansaplatz

Weiße Wiese 1

Weiße Wiese 2

Weiße Wiese 3

Media Center

Fanwelt

BORUSSEUM

My visit

Partnerships

Exhibitions

Memory Suitcase

Sponsoring & Hospitality

Partners

SPORTFIVE

Hospitality & VIP

Hospitality

Borsigplatz

Friedensplatz

Weiße Wiese

Hansaplatz

Alter Markt

TV-Studio

Spieltagsloge

Borussia Park

Stammtisch

VIP Tickets

VIP day tickets

Hospitality-Services

VIP season tickets

Hospitality App

Business Network

Become a BVB-partner now

Tickets

Fanshop

BVB-TV

Membership

Service

Terms of Use

1. General

Borussia Dortmund GmbH &amp; Co. KGaA, Rheinlanddamm 207-209, 44139 Dortmund (“BVB\\\" in the following, additional information in the&nbsp;Imprint&nbsp;), operates the internet portal \\\"BVB.de\\\" as well as any mobile services offered with regard to this at the following retrievable website and its pages: <a href=\\\"https://www.bvb.de/de/en.html\\\" target=\\\"_blank\\\" data-cmp-clickable id=\\\"text-0669b1ad16-link-f602f74228\\\">www.bvb.de/de/en</a>, <a href=\\\"https://www.bvb.de/de/en.html\\\" target=\\\"_blank\\\" data-cmp-clickable id=\\\"text-0669b1ad16-link-b3cfe06b31\\\">bvb.de/de/en</a> (referred to jointly as \\\"BVB.de\\\" in the following). “BVB.de\\\" is an informational service (referred to in the following as: BVB.de Services) made available by BVB; its use is subject solely to the following conditions.</p>\"}}\" id=\"text-0669b1ad16\" class=\"cmp-text\">
Borussia Dortmund GmbH & Co. KGaA, Rheinlanddamm 207-209, 44139 Dortmund (“BVB\" in the following, additional information in the Imprint ), operates the internet portal \"BVB.de\" as well as any mobile services offered with regard to this at the following retrievable website and its pages: www.bvb.de/de/en , bvb.de/de/en (referred to jointly as \"BVB.de\" in the following). “BVB.de\" is an informational service (referred to in the following as: BVB.de Services) made available by BVB; its use is subject solely to the following conditions.

2. Use of the BVB.de Services

Principally, the use of the BVB.de Services is free of charge; however, users must have internet access and the necessary technical means and bear all hereby connected expenses. The BVB.de Services are for information purposes only. BVB makes an effort to provide current information at all times to the best of its knowledge. However, all information is provided without a guarantee for its current, correct, or complete nature. The BVB.de Services are not intended for persons in legal venues that forbid the publication or use of BVB.de Services on account of their citizenship, residence, or other reason. Persons to whom such a prohibition applies may not access BVB.de Services.</p>\"}}\" id=\"text-1874fc71d0\" class=\"cmp-text\">
Principally, the use of the BVB.de Services is free of charge; however, users must have internet access and the necessary technical means and bear all hereby connected expenses. The BVB.de Services are for information purposes only. BVB makes an effort to provide current information at all times to the best of its knowledge. However, all information is provided without a guarantee for its current, correct, or complete nature. The BVB.de Services are not intended for persons in legal venues that forbid the publication or use of BVB.de Services on account of their citizenship, residence, or other reason. Persons to whom such a prohibition applies may not access BVB.de Services.

3. Copyright and Other Rights

The contents of BVB.de Services are protected by copyright and all rights are reserved. The rights to all pages, contents, and the design of BVB.de Services including any trademark, name, patent, authorship, license, and/or other rights are property of BVB and BVB has sole entitlement to them. In particular, it is forbidden to copy, change, dissect, create an adaptation of the contents of BVB.de Services or transmit, license, assign, or sell the rights to the contents in whole or in part or otherwise claim any other rights.</p>\"}}\" id=\"text-ef1aa7bc5a\" class=\"cmp-text\">
The contents of BVB.de Services are protected by copyright and all rights are reserved. The rights to all pages, contents, and the design of BVB.de Services including any trademark, name, patent, authorship, license, and/or other rights are property of BVB and BVB has sole entitlement to them. In particular, it is forbidden to copy, change, dissect, create an adaptation of the contents of BVB.de Services or transmit, license, assign, or sell the rights to the contents in whole or in part or otherwise claim any other rights.

4. Data Protection

BVB operates according to the statutory provisions during all data processing procedures (e.g. collection, processing, transmission). The data necessary for providing and processing BVB.de Services are saved and, in the scope necessary, forwarded to service providers commissioned with the technical execution by the offering party, which is in turn obligated to guard data protection.</p>\\n<p>For the details, the&nbsp;<a href=\\\"https://www.bvb.de/eng/Data-Protection/Data-Protection-Provision/Data-Protection\\\" target=\\\"_blank\\\" data-cmp-clickable id=\\\"text-8c9f9c7a83-link-6eb391f8ee\\\">BVB.de Data Protection Provisions</a>&nbsp;are applicable.</p>\"}}\" id=\"text-8c9f9c7a83\" class=\"cmp-text\">
BVB operates according to the statutory provisions during all data processing procedures (e.g. collection, processing, transmission). The data necessary for providing and processing BVB.de Services are saved and, in the scope necessary, forwarded to service providers commissioned with the technical execution by the offering party, which is in turn obligated to guard data protection.
For the details, the  BVB.de Data Protection Provisions  are applicable.

5. Warranty and Exclusion of Guarantee

All information in the BVB.de Service, including graphics, texts, and links or references to other websites and offers are made available as-is and can be changed at any time without notice. The information included in the BVB.de Services are provided without any express or tacit warranty and/or guarantee for the correct, exact, reliable or complete nature or the market-typical quality, suitability for a specific purpose, or the freedom from the rights of third parties. In particular, it is not warranted or guaranteed that the use of the BVB.de Services correspond to the expectations and/or requirements of the user(s), will not be interrupted, or occurs in a timely, secure, free-of-error manner, that errors in the operation or functionality are rectified and/or that BVB.de Services and/or the server(s) by means of which it is accessible are free of computer viruses and other damaging elements.</p>\"}}\" id=\"text-929b58d709\" class=\"cmp-text\">
All information in the BVB.de Service, including graphics, texts, and links or references to other websites and offers are made available as-is and can be changed at any time without notice. The information included in the BVB.de Services are provided without any express or tacit warranty and/or guarantee for the correct, exact, reliable or complete nature or the market-typical quality, suitability for a specific purpose, or the freedom from the rights of third parties. In particular, it is not warranted or guaranteed that the use of the BVB.de Services correspond to the expectations and/or requirements of the user(s), will not be interrupted, or occurs in a timely, secure, free-of-error manner, that errors in the operation or functionality are rectified and/or that BVB.de Services and/or the server(s) by means of which it is accessible are free of computer viruses and other damaging elements.

6. Liability

Claims of a user for damages against BVB are excluded. Excluded from this are claims for damages from injury to life, limb, or health or from the infringement of material contractual duties (cardinal duties) as well as liability for other damages that are based on intentional or grossly negligent infringements of duty of BVB, its legal representatives, or agents. Material contractual duties are those that must be fulfilled for the goal of the contract to be reached. In the event of the infringement of material contractual duties, BVB is only liable for the foreseeable damages typical of the contract if it was caused in a simply negligent manner unless it concerns claims for damages from an injury to life, limb, or health. Insofar as the liability of BVB is excluded or limited, this also applies to the personal liability of employees, staff, collaborators, representatives, and agents of BVB.</p>\"}}\" id=\"text-e249525c57\" class=\"cmp-text\">
Claims of a user for damages against BVB are excluded. Excluded from this are claims for damages from injury to life, limb, or health or from the infringement of material contractual duties (cardinal duties) as well as liability for other damages that are based on intentional or grossly negligent infringements of duty of BVB, its legal representatives, or agents. Material contractual duties are those that must be fulfilled for the goal of the contract to be reached. In the event of the infringement of material contractual duties, BVB is only liable for the foreseeable damages typical of the contract if it was caused in a simply negligent manner unless it concerns claims for damages from an injury to life, limb, or health. Insofar as the liability of BVB is excluded or limited, this also applies to the personal liability of employees, staff, collaborators, representatives, and agents of BVB.

7. Links and/or References to Third-Party Websites

BVB.de and/or BVB.de Services contain links and/or references to the websites of third parties. BVB expressly assumes no liability for the correct, exact, reliable, or complete nature of information there and additional contents. In particular, BVB is not liable for any breach of commercial copyrights and personality rights or other rights. The goods offered and/or services provided on third-party websites may be subject to additional conditions and may be subject to a charge. The user(s) is/are obligated to inform himself/themselves about the general terms and conditions, data protection provisions, and other terms of use before making use of the offers and services of third parties. Links and/or references to the websites of third parties are therefore only to be considered help and do not imply that BVB authorises the respective website or the goods and/or services offered or performed there or considers them correct.</p>\"}}\" id=\"text-903f6aad79\" class=\"cmp-text\">
BVB.de and/or BVB.de Services contain links and/or references to the websites of third parties. BVB expressly assumes no liability for the correct, exact, reliable, or complete nature of information there and additional contents. In particular, BVB is not liable for any breach of commercial copyrights and personality rights or other rights. The goods offered and/or services provided on third-party websites may be subject to additional conditions and may be subject to a charge. The user(s) is/are obligated to inform himself/themselves about the general terms and conditions, data protection provisions, and other terms of use before making use of the offers and services of third parties. Links and/or references to the websites of third parties are therefore only to be considered help and do not imply that BVB authorises the respective website or the goods and/or services offered or performed there or considers them correct.

8. Final Provisions

Any and all legal claims or suits in conjunction with use of the BVB.de website or the use of the BVB.de Services are subject to interpretation of the laws of the Federal Republic of Germany to the exclusion of the regulations of international private law. Should individual provisions of the terms of use above be invalid in part or in whole, this shall not affect the validity of the remaining provisions of use or parts of such provisions of use. The statutory provisions come into effect in the place of the invalid or missing provisions.</p>\"}}\" id=\"text-9038c1625a\" class=\"cmp-text\">
Any and all legal claims or suits in conjunction with use of the BVB.de website or the use of the BVB.de Services are subject to interpretation of the laws of the Federal Republic of Germany to the exclusion of the regulations of international private law. Should individual provisions of the terms of use above be invalid in part or in whole, this shall not affect the validity of the remaining provisions of use or parts of such provisions of use. The statutory provisions come into effect in the place of the invalid or missing provisions.

Borussia Dortmund GmbH & Co. KGaA

Stand: November 2013

BVB Champion Partner

BVB Premium Partner

BVB Partner

BVB Regional Partner

BVB Champion Partner

BVB Premium Partner

BVB Partner

BVB Regional Partner

Follow us on Social Media</p>\"}}\" id=\"text-ab34684ca6\" class=\"cmp-text\">
Follow us on Social Media

Legal information

Contact

Imprint

Data Protection

Cookies

Business

Stock

Sponsoring & Hospitality

Management Board

Annual Report

Club

Membership

Teams

Jobs

Online Shops

Ticket Shop

US Fanshop

UK Fanshop

Stadium Tours

Information

Terms of Use

Accessibility Declaration

Accessibility

Legal information

Contact

Imprint

Data Protection

Cookies

Business

Stock

Sponsoring & Hospitality

Management Board

Annual Report

Club

Membership

Teams

Jobs

Online Shops

Ticket Shop

US Fanshop

UK Fanshop

Stadium Tours

Information

Terms of Use

Accessibility Declaration

Accessibility" 1 :add]
 ["bvb-tos-1" :tos/source-url "https://www.bvb.de/de/en/general/terms-of-use.html" 1 :add]
 ["bvb-tos-1" :tos/retrieved-at "2026-07-10" 1 :add]
 ["bvb-tos-1" :tos/sha256 "a363b3b4604fd63ca234a08701b719387ab31ac38e400ed0ea22bdb9afad1e55" 1 :add]
 ["bvb-tos-1" :tos/doc-type :terms-of-use 1 :add]]
